@import url('reset.css');

body {font: 12px Verdana, Arial, sans-serif; color:#555; background:#444; }

#headNav {
	background-color:#2d2a62;
	color:#fff;
	border-bottom:1px solid #eee;
	margin-bottom:5px;
}
A.topNavbarLink:link, A.topNavbarLink:hover, A.topNavbarLink:visited, A.topNavbarLink:visited:hover   {
	color:#fff;
	text-decoration:none;
	font-size:11px;
}
#omeka-logo {
	text-decoration:none;
}
h1, h2, h3, h4, h5 {color:#03658c;padding:8px 0 5px 0;}
h1.head {font-family:"Trebuchet MS"; font-size:22px;padding:10px;background-color:#000;border-bottom:5px solid #ccc; color:#fff;}
.headSquare {color:#fff;height:30px;min-width:30px;background-color:#dccb3f;display:inline;} 
h1 {font-family:"Trebuchet MS"; font-size:22px;color:#03658c;padding:5px;}
h2 {font-size:2em; color: #03658c; /*margin-bottom:1.25em; line-height:1.125em;*/}
h3 {
	font-size:1em; 
	font-weight:bold; 
	padding-top:15px; 
	padding-bottom:15px; 
	/*margin-bottom:1.2857em; line-height:1.2857em;clear: both;*/
}
h5 {float: right;padding:1em 1em;}

a img {border:none;}
p,ul,ol,dl {font-size:1em; margin-bottom:1.5em;/*line-height:1.8em;*/}
p {padding: 0 18px 0 0;}

h1 a, h1 a:visited {text-decoration: none;color:#fff;}
h5 a, h5 a:visited {color: #03658c;}

a:link {color:#03658c; /*003399;*/}
a:visited {color: #03658c;}
a:hover {color: #e67912; text-decoration: underline;}

/* == Structure == */

#wrap {
	width:1190px;
	margin:0px auto;
	overflow:hidden;
	background-color:#fff;
	border-bottom:1px solid #fff;
}
#header {clear: both;padding:0; margin: 0;overflow: hidden;}
#exhibit-nav {float: left;width: 164px;padding: 0 18px;background:#fff;}
#content {
	float: right;
	overflow: hidden;
	min-height: 400px;
	width: 900px;
	padding: 0 18px;
	border-left: 1px solid #c7b5a2;
	background: #fff;
}
#footer {clear: both;padding:0;margin:0;margin-top:5px;color:#fff;background-color:#2d2a62;font-size:11px;min-height:18px;vertical-align:middle; border-top:1px solid #eee;}
	#footer a {color: #fff;}
	#footer a:visited {color: #fff;}
		
/* =Exhibit Navigation= */	
.exhibit-section-nav {width: 164px;overflow:hidden; }
.exhibit-section-nav li {
	width:auto;
/*	list-style-type:square; */
	list-style-type:none;
}
	.exhibit-section-nav li a {display:block;text-decoration:none;padding:.5em;padding-bottom:1em;border-bottom: 1px solid #fff;border-top: 1px solid #fff;}
	.exhibit-section-nav li a.current {
		color: #03658c;border-bottom: 1px solid #03658c;border-top: 1px solid #03658c;background-color:#dbcab1;}
	.exhibit-section-nav li a:hover {color: #e67912;text-decoration:underline;/*background-color:#eae098;*/}
	
/* =Page Navigation= */
.exhibit-page-nav {list-style:none; float: left; padding: 1em 0; width: 100%;border-top: 1px solid #fff; background:#eee;margin:0 -18px 12px -18px; padding:18px;}
	.exhibit-page-nav li {display:inline;float: left; margin-right:1.5em; text-align: left;}
	.exhibit-page-nav li a {text-decoration:none;}
	.exhibit-page-nav li a:hover {text-decoration:underline;}
	.exhibit-page-nav li.current a {color: #e67912; text-decoration:none;}
	.exhibit-page-nav li.current a:hover, .exhibit-page-nav li.current a:visited:hover { color:#dbcab1; text-decoration:none;}

/* == Content == */
#exhibit-sections h3 {margin: 0 0 .5em; font-weight:bold;font-size: 1.2em; //text-transform: uppercase; 
	letter-spacing: .1em;}
	#exhibit-sections h3 a,#exhibit-sections h3 a:visited {text-decoration: none;color: #03658c;}
	#exhibit-sections h3 a:hover {color: #dbcab1;}
#exhibit-sections p {margin: 0 0 1.8em; padding: 0 18px 0 0;}
	
.commentary {background:#eee; padding:18px;}
	.commentary p {font-size:1.1em; line-height:1.63636;}
	
/* == Layout == */
.gallery-full-left,
.gallery-full-right,
.gallery-thumbnails,
.gallery-thumbnails-text-bottom,
.gallery-thumbnails-text-top,
.image-list-left,
.image-list-left-thumbs,
.image-list-right,
.image-list-right-thumbs,
.text-full,
.text-image-left,
.text-image-right
	{clear: both;}
/*
.item img, .exhibit-item img {margin-bottom: 1.5em;}

.exhibit-item {
	margin-top:10px;
	border-bottom:1px solid #eee;
}
*/

/* LAYOUT: GALLERY-THUMBNAILS (ALL) */
.gallery-thumbnails .exhibit-item,
.gallery-thumbnails-text-bottom .exhibit-item,
.gallery-thumbnails-text-top .exhibit-item {
        text-align:center;
        width:auto;
        /*float:left;*/
        padding:10px;
}
.gallery-thumbnails-text-bottom .exhibit-text, .gallery-thumbnails-text-top .exhibit-text {
        clear:both;
        /*float:left;*/
}

/* LAYOUT: GALLERY-FULL-LEFT AND LAYOUT: GALLERY-FULL-RIGHT */
.gallery-full-left .primary {
        float:left;
        width:300px;
        padding:1em;
}
.gallery-full-left .primary IMG {
        width:300px;
}
.gallery-full-left .secondary {
        padding:1em;
}

.gallery-full-right .primary {
        float:right;
        width:300px;
        padding:1em;
}
.gallery-full-right .primary IMG {
        width:300px;
}
.gallery-full-right .secondary {
        padding:1em;
}
/* LAYOUT: TEXT-IMAGE-LEFT AND LAYOTU: TEXT-IMAGE-RIGHT */
.text-image-left IMG {
        width:48%;
        float:left;
        padding:1em;
}

.text-image-right IMG {
        width:48%;
        float:right;
        padding:1em;
}
/* LAYOUT: IMAGE-LIST-LEFT AND LAYOUT: IMAGE-LIST-RIGHT */
.image-list-left .image-text-group, .image-list-right .image-text-group {
        width:auto;
}
.image-list-left IMG.full  {
        width:400px;
        height:auto;
        float:left;
}

.image-list-left .exhibit-text  {
        width:300px;
        height:auto;
        float:right;
}

.image-list-right IMG.full {
        width:400px;
        height:auto;
        float:right;
}
.image-list-right .exhibit-text  {
        width:300px;
        height:auto;
        float:left;
}
.image-list-left .exhibit-item, .image-list-right .exhibit-item {
        margin-top:10px;
        /*border-bottom:1px solid #eee;*/
}
/* generic */
.image-text-group {
        clear:both;
        border-bottom:1px solid #eee;
}

/* LAYOUT: IMAGE-LIST-LEFT-THUMBS AND LAYOUT: IMAGE-LIST-RIGHT-THUMBS */
.image-list-left-thumbs .exhibit-item {
        float:left;
        width:200px;
        padding:5px;
}
.image-list-left-thumbs .exhibit-text {
        float:right;
        width:400px;
        padding:5px;
}
.image-list-right-thumbs .exhibit-item {
        float:right;
        width:200px;
        padding:5px;
}
.image-list-right-thumbs .exhibit-text {
        float:left;
        width:400px;
        padding:5px;
}

/* generic */
.item img, .exhibit-item img {margin-bottom: 1.5em;}

#exhibit-page-navigation { clear:both; }


/* == Item Show == */
.item-title {padding-left: 0;margin-top: 0;}
.field {padding-bottom: 1em;}
.field-value {padding-left: 1.5em;margin-top: 0.75em;}
.tags {margin-bottom: 1em;}
#item-files {margin-bottom:1.5em;text-align:center;}
.item-file {
	background:#eee;
	text-align:center;
	padding:5px;
	margin-bottom:1.5em;
}

.footer11px A, .footer11px A:visited { color:#eee; }
#solidBlock {
	background-color:#03658c;
	width:744px;overflow:hidden;
	text-align:right;
	padding:0;margin:0px;
	margin-left:-20px;
}
#solidBlock TD {
	vertical-align:top;
}
#solidBlock h1 {
	color:#fff;
	font-family:"Trebuchet MS"; font-size:22px;color:#fff;
	border:none;
	background-color:transparent;
	padding:15px;margin:5px;
}
#solidBlockSecondary {
	background-color:#e67912; /*old - 77403e*/;
	height:auto;
}
#solidBlock .caption11px, #solidBlock .caption11px A, #solidBlock .caption11px A:visited {
	color:#fff;
	font-size:11px;
	text-decoration:none;
}
#solidBlock .leftBlock {
border-right:5px solid #fff;vertical-align:middle;padding:0px;width:380px;
}
#primary H1 {
	font-size:22px; color: #03658c; margin-bottom:1.25em; line-height:1.125em; border-bottom:1px solid #03658c;
}
#primary H2 {
	font-size:1.5em; color: #03658c; margin-bottom:1.25em; line-height:1.125em; font-weight:bold;
}
.element-set {
	/*margin-top:-25px;*/
}
.element-set H2 {
	display:none;
}

.permalink IMG.full {
	width:450px;
	height:auto;
}

.bigImage {
	width:450px;
	height:500px;
	text-align:center;
	overflow:hidden;
}
.bigImage img {
	max-width:450px;
	max-height:auto;
}
li.item-title {
	font-weight:bold;
}
IMG.permalink {
	margin:5px;
	border:5px solid white;
}
DIV.element-text-empty {
        display:none;
}

/* fcd1, 9/5/13: Needed to mimic look of area-studies child menu in omeka 1.5.3 */
/* version. */
.exhibit-child-nav {

	list-style:none; 
	float: left; 
	padding: 1em 0; 
	width: 100%;
/*
	border-top: 1px solid #fff; 
	background:#eee;
	margin:0 -18px 12px -18px;
	padding:18px;
*/
}

.exhibit-child-nav li {
/*
	display:inline;
	float: left;
	margin-right:1.5em;
	text-align: left;
*/
	display: block;
	padding-left: 2em;
}

/* fcd1, 9/6/13: item.php stuff */
#item-page-content td {
	padding:20px;
	background-color:#fff;
}

.item-file a {
	float: right;
	top: 0;	
	margin-right: 50px;
	margin-left: 5px;
	padding: 5px;
	text-align: center;
/*	background: #eee; */
	background: #fff;
	width: 50%;
}

.item-file {
	background-color:#fff;
	margin-bottom:0px;
}

.item-file img {
	background: #fff;
}

.prevNext, .prevNext A, .prevNext A:visited {
        font-size:11px;
        color:#333;
	text-align:right;
	width:100%;
        padding:5px;
	margin-bottom:1em;
}

.exhibit-section-nav li.current {
	text-decoration: underline;
}

.exhibit-item .link-to-item-page a.link-to-item-page  {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    vertical-align: bottom;
    font-size: 0.75em
}

/* fcd1, 9/26/13: needed to bring images above CUL widget top navbar */
div.highslide-container {
    z-index: 1031 !important;
}

.copyright-footer, .footer11px {
    font-size: 11px;
    width:98%;
    text-align:center;
    color:#fff;
}

p.footer11px {
    padding-top: 6px;
}

p.copyright-footer a {
    color: inherit;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* item page reformat */
.exhibit-item-show .item-file.image-jpeg .full {
    width: 100%;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* item page reformat */
.exhibit-item-show .item-file.image-jpeg a {
    margin-right: 0px;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* item page reformat */
.exhibit-item-show .element-set h3 {
    padding: 5px 0 5px 0;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* item page reformat */
.exhibit-item-show #primary .item-title {
    margin-bottom: 2px;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* item page reformat */
.exhibit-item-show .item-file {
    padding: 0px;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* link back to exhibit and exhibit page */
.exhibit-item-show h3.exhibit-title-link {
        text-align: center;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* link back to exhibit and exhibit page */
.exhibit-item-show .list-exhibit-pages h3 {
    padding-top: 0px;
    padding-bottom: 6px;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* link back to exhibit and exhibit page */
.exhibit-item-show .list-exhibit-pages p {
    margin-bottom: 1em;
}

/* fcd1, 01/23/14: */
/* following rule applies to display of item.php */
/* link back to exhibit and exhibit page */
.exhibit-item-show #citation #citation-value {
    margin-bottom: 0.5em;
}

/* fcd1, Jan 2015: */
/* START of Changes for move to Omeka 2.2.2 (and ExhibitBuilder 3.1.3) */

.layout-gallery .exhibit-item.exhibit-gallery-item {
  width: 25%;
  float: left;
  margin: 2%;
  text-align: center;
}

.layout-gallery .exhibit-item.exhibit-gallery-item .link-to-item-page {
  font-size: 0.75em;
  text-align: center;
  margin: auto;
  display: block;
}

.layout-gallery .exhibit-item.exhibit-gallery-item .exhibit-item-link {
  text-align: center;
  display: block;
}

.exhibit-block.layout-gallery .gallery,
.exhibit-block.layout-file-text {
  overflow: hidden;
}

.layout-file-text .exhibit-text.left.fullsize.captions-center {
  float: right;
  width: 400px;
  padding: 5px;
}

.layout-file-text .exhibit-items.left.fullsize.captions-center {
  float: left;
  width: 250px;
  padding: 5px;
}

.layout-file-text .exhibit-items.left.fullsize.captions-center img.full {
  width: 100%;
}

/* fcd1, Jan 2015: */
/* END of Changes for move to Omeka 2.2.2 (and ExhibitBuilder 3.1.3) */